<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Garage Trempu - Gestion RDV</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
{% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
          <link rel="stylesheet" href="app.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@400;500;700&family=Noto+Sans:wght@400;500;600;700;800&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/70fabb1b7e.js" crossorigin="anonymous"></script>
    </head>
     <body>
        <header class="header-form">
            <a class="return-button-form" >Retour</a>
        </header>

        <main class="main-form">
            <h2 class="form_title">AJOUTER UN RENDEZ-VOUS</h2>
            {{ form_start(form) }}
       
            <button class="submit-button" type="submit">AJOUTER</button>

            {{ form_end(form) }}

        </main>
    </body>
</html>
